# .clang-format
BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

# C#-ish brace & spacing vibes
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements   # if (x), while (x) -> space; foo(x) -> no space

# Namespaces & blocks
NamespaceIndentation: All

# Pointers/refs style
DerivePointerAlignment: false
PointerAlignment: Left

# Includes & misc
SortIncludes: true
IncludeBlocks: Regroup
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: None
Cpp11BracedListStyle: false
